@keyframes pulseTitle {

  0%{
    box-shadow:
      0 0 10px rgba(124,58,237,0.5);
  }

  50%{
    box-shadow:
      0 0 28px rgba(37,99,235,0.9);
  }

  100%{
    box-shadow:
      0 0 10px rgba(124,58,237,0.5);
  }
}