@keyframes pulseTitle {

  0%{
    box-shadow:
      0 0 8px rgba(59,130,246,0.20);
  }

  50%{
    box-shadow:
      0 0 18px rgba(37,99,235,0.45);
  }

  100%{
    box-shadow:
      0 0 8px rgba(59,130,246,0.20);
  }
}


/* 🔽 SPLASH SCREEN ANIMATION */

@keyframes logoPop{

  0%{
    transform:scale(0.3);
    opacity:0;
  }

  70%{
    transform:scale(1.12);
  }

  100%{
    transform:scale(1);
    opacity:1;
  }

}


@keyframes titleFade{

  0%{
    opacity:0;
    transform:translateY(25px);
  }

  100%{
    opacity:1;
    transform:translateY(0);
  }

}


/* 🔽 START BUTTON */

@keyframes startPulse{

  0%{
    transform:scale(1);
    box-shadow:
      0 0 8px rgba(37,99,235,0.20);
  }

  50%{
    transform:scale(1.05);
    box-shadow:
      0 0 18px rgba(20,184,166,0.45);
  }

  100%{
    transform:scale(1);
    box-shadow:
      0 0 8px rgba(37,99,235,0.20);
  }

}


html, body, #root{
  margin:0;
  padding:0;
  width:100%;
  max-width:100%;
  overflow-x:hidden;
  touch-action:manipulation;
}


* {
  box-sizing:border-box;
}


@keyframes resultFade{

  from{
    opacity:0;
    transform:translateY(18px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}


@keyframes popCard{

  0%{
    transform:scale(0.92);
    opacity:0.7;

    box-shadow:
      0 0 6px rgba(59,130,246,0.15);
  }

  50%{
    transform:scale(1.03);
    opacity:1;

    box-shadow:
      0 0 16px rgba(37,99,235,0.35);
  }

  100%{
    transform:scale(1);
    opacity:1;

    box-shadow:
      0 0 6px rgba(59,130,246,0.15);
  }

}


@keyframes shareBlink{

  0%{
    transform:
      translateX(-50%)
      scale(1);

    box-shadow:
      0 0 8px rgba(59,130,246,0.20);
  }

  50%{
    transform:
      translateX(-50%)
      scale(1.05);

    box-shadow:
      0 0 18px rgba(37,99,235,0.45);
  }

  100%{
    transform:
      translateX(-50%)
      scale(1);

    box-shadow:
      0 0 8px rgba(59,130,246,0.20);
  }

}